<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
	<link rel="stylesheet" href="./css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
    <link rel="stylesheet" href="libraries/bootstrap/dist/css/bootstrap.min.css" />


	<link rel="stylesheet" href="libraries/Leaflet.markercluster-1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="libraries/Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="libraries/Leaflet.EasyButton/src/easy-button.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <title>NYS Vaccine Search</title>

</head>
<body>


        <div class="main-container text-center container-fluid" id="top">
            <div class="logo">
                <h1 class="text-center">NYS Vaccine Search</h1>
                <div class="nav-links">
                    <a href="https://am-i-eligible.covid19vaccine.health.ny.gov/" class="text-center">State Ran Sites</a>
                    <a href="https://somosvaccination.mdland.com/p/covid" class="text-center">City Ran Sites</a>
                </div>
                <!-- <a href="#"><button class="btn btn-secondary btn-effect" type="button" id="clear">Contact Me</button></a> -->
            </div>
            <div class="content">
                <h1>What is your address?</h1>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Address, City, NY..."  value="" id="addr" />


                        <button class="btn btn-outline-secondary" type="button" onclick="addr_search()"><i class="fa fa-search"></i></button>

                    </div>

                    <a href="#mapid"><button class="btn btn-primary btn-effect" type="button">View Map</button></a>
                    <a href="#mapid"><button class="btn btn-dark btn-effect" type="button" id="clear">Clear Markers</button></a>
                    <div id="addressresult" onClick="document.getElementById('mapid').scrollIntoView();"></div>

            </div>
        </div>

        <div id="mapid"></div>

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>


    <script src="libraries/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster-src.js"></script>
    <script src="libraries/Leaflet.EasyButton/src/easy-button.js"></script>
    <script src="js/leaflet-map.js"></script>
    <script src="libraries/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libraries/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
