html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: "Arial";
    scroll-behavior: smooth;
}


.nav-links {
    text-align: center;
    padding: 5px;
}

.nav-links a{
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}

.disclaimer {
    /* bottom: 0;
    position: absolute; */
}


.mycluster {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    font-size: 24px;
}


.radius {
    width: 50px;
}


#mapid {
    height: 100%;
    padding: 10px;
}

.seach-button {
     font-size: 1.5em;
}

.btn-effect {
    margin-top: 10px;
}

#addressresult {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    position: absolute;
}


.main-container {
    min-height: 100vh;
    font-family: "Arial";
    position: relative;
    text-align: center;
    overflow: hidden;
}


.main-container .content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.searchbutton {
     position: absolute;
     top: 80px;
     left: 12px;
     padding: 10px;
     z-index: 800;
}

.logo {
    margin-top: 15px;
}

.radius-select {
     padding: 8px 16px;
     font-size: 15px;
}
