<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/contact.css">



    <title>NYS Vaccine Locator</title>
    <link rel="shortcut icon" type="image/jpg" href="images/website-favicon.jpg"/>


</head>
<body>

                <div id="top">
                    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                <a class="navbar-brand" href="https://www.vaccinesnearyou.com/search">Covid-19 Vaccine Locator</a>
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                  <li class="nav-item active">
                                    <a class="nav-link" href="https://www.vaccinesnearyou.com/">Home <span class="sr-only">(current)</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="https://www.vaccinesnearyou.com/search">Search</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="https://www.vaccinesnearyou.com/about">About Me</a>
                                  </li>
                                  <!-- <li class="nav-item">
                                    <a class="nav-link" href="https://www.vaccinesnearyou.com/contact">Contact Me</a>
                                  </li> -->
                              </ul>
                        </div>
                    </nav>

                            <div class="primary-banner">
                                <h1 class="display-3 text-center">Hello!</h1>
                                <p class="lead text-center">My name is <b>Jon Legasa</b>.</p>
                                <!-- <a href="#"><button class="btn btn-secondary btn-effect" type="button" id="clear">Contact Me</button></a> -->
                            </div>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-6 col-md-4">
                                        <h3 class="text-center">About Me</h3>

                                        <p>
                                            I am a Junior, now going into Senior year, at Fordham Preparatory School in New York City. I love software development
                                            and anything with computers. I am constantly looking into new interesting topics and using things I have learned
                                            to solve problems. This website is one example of that.
                                        </p>

                                    </div>

                                    <div class="col-xs-6 col-md-4">
                                        <h3 class="text-center">About the Website</h3>

                                        <p>
                                            I created this website originally as a fun project for myself. I did not think beyond showing locations on a map. However, as I added new features, I wanted the website to become a useful tool for finding COVID-19 vaccines.
                                            I am still learning and improving the application, so if there are bugs or you have suggestions on how to improve the website, feel free to contact me at <b>vaccinesnearyou@gmail.com</b>.
                                        </p>

                                    </div>


                                    <div class="col-xs-6 col-md-4">
                                        <h3 class="text-center">How I Did It</h3>

                                        <p>
                                            I use HTML, CSS, and Javascript to display everything you see (map, text, images, etc). I host the server on <a href="https://www.digitalocean.com/">Digital Ocean</a> and use <a href="https://nodejs.org/en/">Node.js</a>
                                            and <a href="https://www.nginx.com/">NGINX</a> for the backend (routing, updating files, etc). The data on vaccine providers is collected from an API created by <a href="https://www.vaccinespotter.org/api/">Vaccine Spotter</a>.
                                        </p>

                                    </div>

                                </div>
                            </div>

                            <div class="created-with container-fluid text-center">
                                <div class="secondary-banner">
                                    <h1 class="display-4 text-center">Created With</h1>
                                    <p class="lead text-center">__________</p>
                                    <!-- <a href="#"><button class="btn btn-secondary btn-effect" type="button" id="clear">Contact Me</button></a> -->
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-md-4 clickable">
                                        <a href="href=https://nodejs.org/en/"><img src="../images/nodejs.png" alt="nodejs" class="img-fluid"></a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 clickable">
                                        <a href="https://www.nginx.com/"><img src="../images/nginx.png" alt="nginx" class="img-fluid"></a>
                                    </div>
                                    <div class="col-xs-6 col-md-4 clickable">
                                        <a href="https://www.digitalocean.com/"><img src="../images/digitalocean.png" alt="digitalocean" class="img-fluid"></a>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-xs-6 col-md-4">
                                        <img src="../images/html.png" alt="nodejs" class="img-fluid">
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <img src="../images/css.png" alt="nginx" class="img-fluid">
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                        <img src="../images/js.png" alt="digitalocean" class="img-fluid">
                                    </div>
                                </div>
                            </div>


                    <br />


                        <footer class="bg-dark text-center text-white">
                                  <div class="container p-4">
                                    <section class="mb-4">
                                        <h1 class="display-4">vaccinesnearyou@gmail.com</h1>
                                    </section>
                        </footer>

    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>
