<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ==" crossorigin="" />
	<link rel="stylesheet" href="../css/search.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


	<link rel="stylesheet" href="../libraries/Leaflet.markercluster-1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="../libraries/Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <title>NYS Vaccine Search</title>
    <link rel="shortcut icon" type="image/jpg" href="img/website-favicon.jpg"/>


</head>
<body>


            <div id="top">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                <a class="navbar-brand" href="https://www.vaccinesnearyou.com/search">Covid-19 Vaccine Locator</a>
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                  <li class="nav-item active">
                                    <a class="nav-link" href="https://www.vaccinesnearyou.com/">Home <span class="sr-only">(current)</span></a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="https://www.vaccinesnearyou.com/search">Search</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="https://www.vaccinesnearyou.com/about">About Me</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="https://www.vaccinesnearyou.com/contact">Conact Me</a>
                                  </li>
                              </ul>
                        </div>
                    </nav>

                        <div class="main-container text-center container-fluid">
                            <div class="logo">
                                <h1 class="text-center">NYS COVID-19 Vaccine Locator</h1>
                                <!-- <a href="#"><button class="btn btn-secondary btn-effect" type="button" id="clear">Contact Me</button></a> -->
                            </div>

                            <div class="nav-links">
                                <a href="https://am-i-eligible.covid19vaccine.health.ny.gov/" class="text-center">State Sites</a>
                                <a href="https://somosvaccination.mdland.com/p/covid" class="text-center">City Sites</a>
                            </div>

                            <div class="content">
                                <h1>Enter an  Address</h1>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Address, City, NY..."  value="" id="addr" />
                                        <button class="btn btn-outline-secondary" type="button" onclick="addr_search()" id="test"><i class="fa fa-search"></i></button>
                                    </div>

                                    <!-- <a href="#mapid"><button class="btn btn-primary btn-effect" type="button">View Map</button></a> -->
                                    <a href="#mapid"><button class="btn btn-dark btn-effect" type="button" id="clear">Clear Markers</button></a>
                                    <div id="addressresult" onClick="document.getElementById('mapid').scrollIntoView();"></div>

                            </div>
                        </div>
                    </div>


        <div id="mapid">
            <button type="button" class="btn btn-primary searchbutton" onClick="document.getElementById('top').scrollIntoView();">Go Back</button>
        </div>


    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js" integrity="sha512-WXoSHqw/t26DszhdMhOXOkI7qCiv5QWXhH9R7CgvgZMHz1ImlkVQ3uNsiQKu5wwbbxtPzFXd1hK4tzno2VqhpA==" crossorigin=""></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="../libraries/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster-src.js"></script>
    <script src="../js/leaflet-map.js"></script>
</body>
</html>
